#content {
	min-height: 1500px;
	min-width: 1520px;
}
.module {
	width: 98px;
	height: 118px;
	background: rgb(9, 91, 119);
	position:absolute;
	z-index: 2;
	border:solid 3px;
}
.module.placed {
	z-index: 1;
}
.module.ui-draggable-dragging {
	z-index: 3;
}
.innerBorder{
	position:absolute;
	top: 0px;
    left: 0px;
    width: 97px;
    height: 117px;
	border: solid black 1px;
}
.slotArea {
	width: 104px;
	height: 124px;
	background: lightgrey;
}
.slotArea.locked {
	background: white;
}
.slotBorder{
	position:absolute;
	border-width: 2px;
	border-style: solid;
}
.modulePopup{
	z-index:5;
	position:absolute;
	background-color: white;
	border: solid 2px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	min-width:200px;
}
.modulePopup h3{
	margin-top:2px;
	margin-bottom:2px;
}
.modulePopup h4{
	margin-top:4px;
	margin-bottom:6px;
}
.moduleName{
	width:94px;
	height:20px;
	overflow:hidden;
	white-space: nowrap;
	margin: 0px;
	padding-left:4px;
	background-color:#333333;
	color:white;
	text-align: center;
}
.moduleIcon{
	width:98px;
	height:98px;
}
.Phase-Beam{
	background-color: rgb(91, 148, 81);
}
.Cyclotron-Ballista{
	background-color: rgb(123, 68, 97);
}
.Photon-Cannon{
	background-color: rgb(12, 129, 167);
}
.Positron-Ejector{
    background-color: rgb(255, 190, 55);
}
.Infra-Knife-Accelerator{
	background-color: rgb(233, 78, 78);
}
.Rocket-Launcher{
	background-color: rgb(123, 68, 97);
}
.Hyperdrive{
	background-color: rgb(33, 119, 199);
}
.Freighter-Hyperdrive{
	background-color: rgb(33, 119, 199);
}
.Ship-Scanner{
	background-color: rgb(33, 119, 199);
}
.Mining-Beam{
	background-color: rgb(91, 148, 81);
}
.Boltcaster{
	background-color: rgb(12, 129, 167);
}
.Plasma-Launcher{
	background-color: rgb(56, 180, 189);
}
.Blaze-Javelin{
	background-color: rgb(233, 78, 78);
}
.Scatter-Blaster{
	background-color: rgb(255, 190, 55);
}
.Pulse-Spitter{
	background-color: rgb(25, 187, 120);
}
#infoBox{
	position:absolute;
	top:10px;
	left:305px;
	width:877px;
	line-height: 100%;
	font-size:16px;
}
#statsList{
	min-width: 200px;
	border: solid 1px;
	padding: 5px;
	position:absolute;
	left:1200px;
	top:105px;
}
#statsList h3{
	margin-top:2px;
}
#statsList h4{
	margin-bottom:2px;
}
#moduleList{
}