#content {
	min-height: 1100px;
	min-width: 1520px;
}
.module {
	width: 98px;
	height: 118px;
	background: rgb(9, 91, 119);
	position:absolute;
	z-index: 1;
	border:solid 1px;
}
.slotArea {
	width: 100px;
	height: 120px;
	background: lightgrey;
}
.slotArea.locked {
	background: white;
}
.slotBorder{
	position:absolute;
	border-width: 2px;
	border-style: solid;
}
.modulePopup{
	z-index:5;
	position:absolute;
	background-color: white;
	border: solid 2px;
	padding: 5px;
}
.moduleName{
	width:94px;
	height:20px;
	overflow:hidden;
	white-space: nowrap;
	margin: 0px;
	padding-left:4px;
	background-color:grey;
	color:white;
	text-align: center;
}
.moduleIcon{
	width:98px;
	height:98px;
}
.Phase-Beam{
	background-color: rgb(91, 148, 81);
}
.Cyclotron-Ballista{
	background-color: rgb(123, 68, 97);
}
.Photon-Cannon{
	background-color: rgb(12, 129, 167);
}
.Positron-Ejector{
    background-color: rgb(255, 190, 55);
}
.Infra-Knife-Accelerator{
	background-color: rgb(233, 78, 78);
}
.Rocket-Launcher{
	background-color: rgb(123, 68, 97);
}
.Hyperdrive{
	background-color: rgb(33, 119, 199);
}
.Freighter-Hyperdrive{
	background-color: rgb(33, 119, 199);
}
.Ship-Scanner{
	background-color: rgb(33, 119, 199);
}
.Mining-Beam{
	background-color: rgb(91, 148, 81);
}
.Boltcaster{
	background-color: rgb(12, 129, 167);
}
.Plasma-Launcher{
	background-color: rgb(56, 180, 189);
}
.Blaze-Javelin{
	background-color: rgb(233, 78, 78);
}
.Scatter-Blaster{
	background-color: rgb(255, 190, 55);
}
.Pulse-Spitter{
	background-color: rgb(25, 187, 120);
}
#infoBox{
	position:absolute;
	top:10px;
	left:305px;
	width:840px;
}
#statsList{
	width: 310px;
	border: solid 1px;
	padding: 5px;
	position:absolute;
	left:1200px;
	top:105px;
}
#moduleList{
}