#content {
	min-height: 1100px;
	min-width: 1520px;
}
.module {
	width: 100px;
	height: 100px;
	background: orange;
	position:absolute;
	z-index: 1;
	text-align: center;
	vertical-align: middle;
}
.slotArea {
	width: 100px;
	height: 100px;
	background: grey;
}
.slotArea.locked {
	background: #eeeeee;
}
.slotBorder{
	position:absolute;
	border-width: 2px;
	border-style: solid;
}
#statsList{
	width: 310px;
	border: solid 1px;
	padding: 5px;
	position:absolute;
	left:1200px;
	top:105px;
}
#moduleList{
	position:absolute;
	top:105px;
	left:20px;
}